In [1]:
# import the library
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')

# Problem definition

Apply regression models to predict the house pricing

# Load the data

In [2]:
#input
df = pd.read_csv('data/default of credit card clients.csv')
print(df.columns)
df.head()

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

# Feature Engineering

In [3]:
# feature engineering
X_columns = df.columns[1:-1]
y_column = df.columns[-1]

# Model Training

In [4]:
# split the data

threshold = 0.8
absolute_threshold = int(len(df)*threshold)

X_train = df.ix[:absolute_threshold, X_columns]
y_train = df.ix[:absolute_threshold, y_column]

X_test = df.ix[absolute_threshold:, X_columns]
y_test = df.ix[absolute_threshold:, y_column]

print('X_train', X_train.shape)
print('y_train', y_train.shape)
print('X_test', X_test.shape)
print('y_test', y_test.shape)

X_train (24001, 23)
y_train (24001,)
X_test (6000, 23)
y_test (6000,)

In [5]:
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
#model = GaussianNB()
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [6]:
# feature importance
importance = []
for i in range(len(X_columns)):
    importance.append([X_columns[i], model.feature_importances_[i]])
pd.DataFrame(importance).sort_values(by=1, ascending=False)

            0         1
5       PAY_0  0.087981
4         AGE  0.066537
6       PAY_2  0.065668
11  BILL_AMT1  0.063358
0   LIMIT_BAL  0.057445
13  BILL_AMT3  0.053678
12  BILL_AMT2  0.053147
15  BILL_AMT5  0.052373
14  BILL_AMT4  0.049566
22   PAY_AMT6  0.049259
16  BILL_AMT6  0.048586
17   PAY_AMT1  0.048395
18   PAY_AMT2  0.046795
20   PAY_AMT4  0.045439
19   PAY_AMT3  0.044085
21   PAY_AMT5  0.043718
10      PAY_6  0.028153
7       PAY_3  0.023319
2   EDUCATION  0.019321
8       PAY_4  0.016368
3    MARRIAGE  0.013699
9       PAY_5  0.011735
1         SEX  0.011376

# Model Evaluation

In [7]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
print(confusion_matrix(y_test, y_pred))
print('Precision', precision_score(y_test, y_pred))
print('recall', recall_score(y_test, y_pred))

[[4478  256]
 [ 849  417]]
Precision 0.619613670134
recall 0.329383886256